.calendar-container {
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  min-height: 70%;
  height: 70%;
  max-width: 60%;
  width: 60%;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.calendar-box {
  padding: 4%;
  background-color: #ebebf0;
  border-radius: 10px 0 0 0;
  width: 40%;
  max-width: 40%;
  min-height: 100%;
}

.calendar-box h2 {
  margin: 0;
  color: #28293D;
  font-size: 24px;
  font-weight: 600;
}

.calendar-box p {
  margin-bottom: 26px;
  font-size: 14px;
  font-weight: 600;
  color: #555770;
}

.calendar-box p span {
  margin-bottom: 26px;
  font-size: 14px;
  font-weight: 400;
  color: #555770;
}

.calendar {
  border: 1px solid lightgray;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  width: 100%;
  padding: 4px;
  font-family: Arial, sans-serif;
}

.calendar .react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar .react-calendar__navigation__label {
  font-weight: bold;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
}

.calendar .react-calendar__tile, .calendar .react-calendar__navigation button:disabled, .calendar .react-calendar__navigation button:enabled:hover {
  max-width: initial;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 6px 0; 
  width: 30px;
}

.calendar .react-calendar__navigation button:enabled:hover, .calendar .react-calendar__navigation button:enabled:focus {
  height: 30px;
  width: fit-content;
  border-radius: 20px;
  background-color: transparent;
}

.calendar .react-calendar__tile:hover {
  background-color: #2ecc71;
  border-radius: 20px;
}

.calendar .react-calendar__tile:hover abbr {
  color: white;
}

.react-calendar__tile--active {
  background-color: #378760 !important;
  border-radius: 20px;
  color: white;
}
.calendar .react-calendar__tile--active,
.calendar .react-calendar__tile--active:hover {
  background-color: #2ecc71;
  border-radius: 20px;
  color: white;
}

.calendar .react-calendar__tile--now {
  background-color: white;
  border-radius: 20px;
}

.calendar .react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #378760;
}

.calendar .react-calendar__month-view__weekdays abbr {
  color: #378760;
}

.calendar .react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0;
}

.calendar .react-calendar__tile--active {
  background-color: #378760;
  border-radius: 20px;
  color: white;
}
.calendar .react-calendar__tile--active abbr {
  color: white !important;
}

.calendar abbr {
  color: #333;
  text-decoration: none;
}

@media (max-width: 820px) {
  .calendar-container {
    flex-direction: column;
    margin-top: 24px;
    width: 64%;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
  }

  .calendar-box {
    min-height: 100%;
    width: 92%;
    max-width: 92%;
    border-radius: 10px 10px 0 0;
  }
}

@media (max-width: 500px) {
  .calendar-container {
    flex-direction: column;
    margin-top: 24px;
    width: 80%;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
  }
}