.timeslot-container {
  width: 50%;
  min-height: 100%;
  padding: 4%;
  display: flex;
  flex-direction: column;
}

.timeslot-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 280px;
  height: 280px;
  overflow-y: scroll;
}

.timeslot-bar {
  border: 1.5px solid #378760;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #378760;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease, padding 0.2s ease;
}

.timeslot-bar:hover {
  background-color: #378760;
  color: white;
}

.timeslot-bar.selected {
  background-color: #378760;
  color: white;
  padding: 8px;
  justify-content: space-between;
}

.icon-div {
  width: 24px;
  height: 24px;
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.icon-div svg {
  width: 22px;
  height: 22px;
}

.timeslot-bar.selected .icon-div {
  opacity: 1;
}

.timeslot-bar span {
  transition: transform 0.2s ease;
}

.timeslot-bar.selected span {
  transform: translateX(-10px);
}

.timeslot-duration-container {
  padding-bottom: 24px;
  border-bottom: 1px solid lightgray;
}

.timeslot-duration-container span, .timeslot-list > span {
  font-size: 12px;
  font-weight: 600;
  color: #555770;
  text-transform: uppercase;
}

@media (max-width: 820px) {
  .timeslot-container {
    margin-top: 24px;
    width: 90%;
    max-width: 90%;
  }
}
